.lostbutton { 
	height: 135px;
	width: 135px;
	background-size: contain;
	background-image: url("/images/redbutton.png");
 }

 .green {
	background-image: url("/images/greenbutton.png");
}

.lostNumber { 
	color:purple;
 }